header{
    border-style:initial;
    border-radius: absolute;
    width: 1440px;
    height: 188.19px;
    left: 0px;
    top: 0px;
    text-align: center;
}

body{
    background-color:rgba(190, 189, 189, 0.836);
    background-size: cover;
}

h1{
    letter-spacing: 15px; 
    border-style: hidden;
    font-weight: 700;
    background-color : grey;
    color: blue;
    text-align: center;
    text-transform: uppercase;
}

main{
    background-color: white;
    background-size: cover;
}

main ul li span{
    font-weight: bold;
    font-style: italic;
    list-style-type: none;
}

h3{
    background-color: grey;
    color:#005677;
    text-align: left;
    text-transform: uppercase;

}

.destacotitulo {
    font-weight: bold;
    list-style-type: none;
}

.sintipo{
    list-style-type: none;
}


footer{
    background-color:#005677;
    color:aliceblue;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 10px;

}
